body {
    background: #000;
    margin: 0;
}

canvas {
    cursor: crosshair;
    display: table;
    position: absolute;
    z-index: 1;
    width: 100%;
}

#title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}


.title {
    text-align: center;
    color: white;
    display: block;
    font-size: 100px;
    font-weight: bold;
    font-family: cursive;
}

footer {
   width: 100%;
   position: absolute;
   z-index: 1;
   text-align: center;
   display: block;
   color: white;
   display: block;
   font-weight: bold;
}